<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="/style.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=David+Libre&display=swap" rel="stylesheet">
    <meta charset="utf-8">
</head>
<body>
  
  <nav>
    <div class="navbar">
      <div class="container">
        <div class="navbar-inner">
        <div class="navbar-left">
          <h2>RESUME-BUILDER</h2>
        </div>
        <div class="navbar-right">
                  <a href=""><i class="fab fa-github"></i></a>
        </div>
      </div>
      </div>
    </div>
  </nav>
 <div class="banner-area">
      <div class="single-banner">
        <div class="banner-text">
          <h2>
        A BEAUTIFUL AND SIMPLE <br/>
        RESUME BUILDER 
        
      </h2>
      
      
        
          
          <p> One Click ! Resumes Generated !</p>
        
  
        </div>
       </div>
   </div>
   <div class="resume-options">
        <div class="container">
          <div class="resume-options-heading">
          <h2>CHOOSE ONE !! </h2>
        </div>
          <div class="resume-inner">
            
        <div class="col md-6 imageone" alt="">
          <a href="/resume-maker/1">
          <img class="image-fluid" src="/images/purple.png">
          <div class="overlayone">
             <div class="text">CHOOSE THEME1</div>
          </div>
        </a>
        </div>
        <div class="col md-6 imagetwo">
          <a href="/resume-maker/2">
          <img class="image-fluid" src="/images/blue.png">
          <div class="overlaytwo">
          <div class="text">CHOOSE THEME2</div>
        </div>
        </a>
       
        </div>
   </div>
 </div>
</div>

   <footer>
     <div id="footer">
        <div class="copyright">
          <h6>Made by <span>Palak Dua</span></h6><a href="https://github.com/PalakDua-work/PalakDua-work.git"><i class="fab fa-github"></i></a>
        </div>
     </div>
   </footer>
  
</body>
</html>